body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    margin-top: 2em;
}

#draftsbox{
display: block;
}

#draftsbox img{
    margin: 2em;
    max-width: 500px;
    max-height: 280px;
}

nav ul{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    background-color: rgb(222, 196, 167);
    
    height: 2.1em;
        
}

nav li{
    display: inline-block;
    font-weight: 700;
    margin-top: 0.3em;
    font-size: 1.2em;
    
}

nav li a{
    color: #fff;
    margin: 0.2em;
    padding: 0.3em;
    background-color: rgb(98, 75, 47);
    text-decoration: none;
    
}

nav li a:hover{
    opacity: 0.6;
    
}

.layout img{
    width: 100%;
}

